<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNg.SkipATestCase"/>
      <class name="testNg.DriveACar"/>
      <class name="testNg.SuiteExample"/>
      <class name="testNg.DependenciesManagement"/>
      <class name="testNg.Testsamplecase"/>
      <class name="testNg.Parameterization"/>
      <parameter name="Name" value="Duck"></parameter>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
